@media (max-width: 786px) {

/* 
    .navbar {
        position: relative;
    }


    .nav-items-container {
        position: absolute;
        top: 100%;
    } */

}

@media (max-width: 900px) {
    .header-container {
        display: none !important;
    }
}