.number-items {
    border: 1.5px solid #ccc;
}

.number-items:not(:last-child) {
    border-right: none;
    /* Remove right border */
    outline: 1.5px solid #ccc;
}

.display-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1100px) and (min-width: 601px) {
    .display-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .display-grid {
        grid-template-columns: 1fr;
    }
}

.number-items:not(:first-child) {
    border-left: none;
    /* Remove left border */
    outline: 1.5px solid #ccc;
    /* Create the illusion of a single border */
}

.next {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.prev {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}