.post {
    min-width: 300px;
    max-width: 450px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.post-content {
    padding: 0.875rem;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.post-img-container {
    background-size: cover;
    background-position: center center;
}

@media (max-width: 950px) {
    .postGrid {
        flex-wrap: wrap;
    }
}

@media (max-width: 350px) {
    .post {
        min-width: 200px;
        width: 280px;
    }
}