.display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.add-info-image-container {
    padding: 2rem;
}

.add-info-image-container>img {
    width: 100%;
    min-width: 280px;
}

.additional-info-1 {
    /* max-width: 80%; */
    text-align: justify;
    max-width: 80%;
}

@media (max-width: 1000px) {
    .display {
        grid-template-columns: 1fr;
    }


}