.prod-cont {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.flex-grow-2 {
    flex-grow: 2;
}

@media screen and (max-width: 1100px) and (min-width: 601px) {
    .prod-cont {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .prod-cont {
        grid-template-columns: 1fr;
    }
}