.item-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    justify-content: center;
    padding: 1rem;
}

.footer-item {
    padding: 0.5rem;
    text-align: start;
    cursor: pointer;
}

.searchBarContainer {
    flex-grow: 2;
}

.searchBar {
    outline: none;
    border: none;
    border: 1px solid rgb(128, 128, 128, 0.3);
    font-weight: 600;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.last-container {
    align-self: flex-start;
    gap: 1.5rem;
}

.row2 {
    align-items: start;
    justify-content: space-between;
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgb(9, 9, 9, 0.1);
    align-self: center;
}

@media (max-width: 500px) {
    .row2 {
        flex-direction: column;
        align-items: start;
        flex-wrap: nowrap;
        justify-content: start;
    }
}

@media (max-width:993px) and (min-width:501px) {
    .row2 {
        flex-wrap: wrap;
    }
    
}