body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: black
}

a:hover {
  cursor: pointer;
}

.filter-item:hover {
  cursor: pointer;
}

.filter-btn:hover {
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

input[type="checkbox"]:hover,
input[type="checkbox"]~label:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}